body {
  background-color: #F8F8F8; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F8F8F8; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #535F6B, #887777);
  outline: 1px solid #535F6B; }

nav {
  width: 100%;
  height: 130px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  color: #887777;
  font-size: 60px;
  position: fixed; }

#nav-filler {
  height: 130px; }

#full-screen-nav {
  display: none; }

#full-screen-nav a {
  color: #887777;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px; }

#hamburger-wrap {
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }

#hamburger-wrap span {
  width: 100%;
  height: 14px;
  background-color: #887777; }

@keyframes slide-down {
  0% {
    opacity: 0;
    height: 0px;
    visibility: hidden; }
  100% {
    opacity: 1;
    height: 700px;
    visibility: visible; } }
@keyframes slide-up {
  0% {
    opacity: 1;
    height: 700px;
    visibility: visible; }
  100% {
    opacity: 0;
    height: 0px;
    visibility: hidden; } }
#hamburger-menu {
  width: 100%;
  height: 0px;
  position: fixed;
  background-color: #F8F8F8;
  margin-top: 130px;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0; }

#hamburger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 70px; }

#hamburger-menu ul li a {
  color: #887777;
  text-decoration: none;
  cursor: pointer; }

@keyframes rotate-down {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: translateY(48px) rotate(50deg); } }
@keyframes rotate-up {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: translateY(-8px) rotate(-50deg); } }
@keyframes rotate-down-reset {
  0% {
    transform: translateY(12px) rotate(50deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes rotate-up-reset {
  0% {
    transform: translateY(-8px) rotate(-50deg); }
  100% {
    transform: rotate(0deg); } }
#first-span {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

#third-span {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

#header-wrap {
  width: 100%;
  height: 1400px;
  background-image: url("./assests/header.jpg");
  background-size: cover;
  background-position: center;
  font-size: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#career-title {
  font-size: 70px;
  text-align: center;
  margin-top: 40px; }

#social-links {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  margin-top: 350px;
  padding: 0px 40px; }

#social-links a {
  text-decoration: none; }

#git-hub-button {
  width: 300px;
  height: 125px;
  background-color: #24292E;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer; }

#linkedin-button {
  width: 300px;
  height: 125px;
  background-color: #0077B5;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer; }

#testimonial-location {
  margin-bottom: 100px; }

#testimonial-wrap {
  width: 100%;
  height: 900px;
  color: #887777;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 3px;
  margin: 30px 0px;
  padding: 70px 45px 0px 45px; }

#testimonial-wrap h3 {
  text-align: center;
  font-size: 90px;
  margin-bottom: 70px; }

#skills-location {
  margin-bottom: 100px; }

#skills-section-wrap {
  height: 2100px;
  width: 100%;
  margin-top: 30px;
  background-color: #535F6B;
  color: white;
  text-align: center;
  font-size: 90px;
  padding: 100px 0px 0px 0px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

#skills-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.single-skill-wrap {
  width: 400px;
  height: auto;
  font-size: 45px;
  margin-top: 90px; }

.single-skill-wrap img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px; }

#quote-wrap {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 0px 25px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  color: #887777; }

#quote-wrap p span {
  margin-left: 500px; }

#projects-location {
  margin-bottom: 100px; }

#projects-section-wrap {
  width: 100%;
  height: 2600px;
  background-color: #535F6B;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px 15px 50px 15px; }

#projects-section-wrap h3 {
  font-size: 90px; }

.single-project-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 0px;
  margin-top: 50px; }

.single-project-wrap a img {
  width: 800px;
  height: 530px;
  cursor: pointer; }

.single-project-wrap h4 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  text-decoration: underline; }

.single-project-wrap p {
  width: 100%;
  font-size: 49px;
  margin-top: 40px;
  text-align: center; }

.single-project-wrap p a {
  width: 100%;
  color: white;
  text-decoration: underline;
  cursor: pointer; }

.project-divider {
  width: 94%;
  height: 3px;
  background-color: white;
  margin-top: 30px; }

footer {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 90px;
  color: #887777; }

#contact-info-wrap {
  font-size: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column; }

#contact-info-wrap a {
  color: #887777;
  text-decoration: none;
  margin-bottom: 60px; }

@media screen and (min-width: 1100px) {
  nav {
    height: 60px;
    font-size: 30px; }

  #nav-filler {
    height: 60px; }

  #full-screen-nav {
    display: block; }

  #hamburger-wrap {
    display: none; }

  #header-wrap {
    height: 670px;
    font-size: 60px; }

  #career-title {
    font-size: 50px; }

  #social-links {
    margin-top: 180px;
    justify-content: center; }

  #git-hub-button {
    width: 150px;
    height: 62px;
    font-size: 30px;
    margin-right: 100px; }

  #linkedin-button {
    width: 150px;
    height: 62px;
    font-size: 30px; }

  #testimonial-wrap {
    height: 400px;
    line-height: 40px; }

  #testimonial-wrap h3 {
    font-size: 50px; }

  #testimonial-wrap p {
    font-size: 30px;
    text-align: center; }

  #skills-section-wrap {
    height: 900px;
    font-size: 50px;
    padding-top: 70px; }

  .single-skill-wrap {
    font-size: 30px;
    width: 300px; }

  .single-skill-wrap img {
    height: 100px;
    width: 100px; }

  #quote-wrap {
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 30px; }

  #quote-wrap p {
    margin-top: 80px; }

  #projects-section-wrap {
    height: 2100px;
    padding-top: 50px; }

  #projects-section-wrap h3 {
    font-size: 70px; }

  .single-project-wrap {
    margin-top: 50px; }

  .single-project-wrap h4 {
    font-size: 50px; }

  .single-project-wrap p {
    font-size: 30px; }

  .project-divider {
    margin-top: 50px;
    height: 1px; }

  footer {
    font-size: 70px;
    height: 250px; }

  #contact-info-wrap {
    font-size: 30px;
    width: 100%;
    align-items: center;
    padding: 0px 200px; }

  #contact-info-wrap a {
    margin-bottom: 0px;
    margin-top: 20px; } }

/*# sourceMappingURL=styles.css.map */
